<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display Countries</h1>
            <table border="3">
                <tr>
                    <th>Country ID</th>
                    <th>Country Name</th>
                </tr>
                {% for country in QSLCO %}
                <tr>
                    <td>{{country.conid}}</td>
                    <td>{{country.cname}}</td>
                </tr>
                {% endfor %}
            </table>
    </center>
</body>
</html>